$color-blue: rgb(27, 70, 138);
$color-darkgrey: rgb(46, 44, 44);
$color-lightorange: rgb(240, 151, 83);
$color-darkorange: rgb(255, 165, 97);
$color-mediumgrey: rgb(206, 206, 206);
$color-lightgrey: rgb(245, 243, 243);
$color-red: rgb(242, 80, 62);
$color-bootstrap-red: rgb(203, 52, 67);
$color-bootstrap-red-faded: rgb(186, 76, 87);
$color-cyan: rgb(67, 179, 174);
$color-white: rgb(255, 255, 255);
$color-test: rgb(225, 232, 235);