@use '../../../styles/variables';
.overlay {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.home-navbar-cont {
    flex: 0 1 auto;
}

.home-cont {
    min-height: 70vh;
}

.home-cont .title-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
    padding-top: 1em;
    flex: 1 1 auto;
}

.home-cont .img-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10%;
    padding-bottom: 2em;
}

.home-img {
    width: 50%;
}

.home-cont h1 {
    padding: 2% 0;
    white-space: nowrap;
}

.home-cont h4 {
    color: variables.$color-cyan;
    padding: 2% 0;
    white-space: nowrap;
}

.home-btn {
    background: variables.$color-lightorange;
    padding: 0.8em 1.6em;
    border: none;
    margin: 0.5em;
    border-radius: 5px;
}

.home-btn:hover {
    background: variables.$color-darkorange;
}

@media screen and (max-width: 992px) {
    .buttons {
        padding: 2em 0;
    }
    .home-cont h4 {
        white-space: normal;
    }
}