@use '../../../styles/variables';
.activities-cont {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em 0;
}

.alert-cont-activities {
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2em;
}

h2 {
    align-self: center;
}